name: flutter_class_101
description: A new Flutter project.
version: 1.0.0+1

environment:
  sdk: ^2.8.0-dev.18.0
  flutter: ^1.17.0

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^0.1.3

dev_dependencies:
  flutter_test:
    sdk: flutter
  pedantic: ^1.9.0

flutter:
  uses-material-design: true
